$borderColor: rgb(125, 125, 125);

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  min-height: 28rem;
  flex: 1 0 21%;
  max-width: 21%;
  border-radius: 10px;
  margin: 1rem;
  border: 1px solid $borderColor;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    box-shadow: 2px 5px 10px $borderColor;
  }

  h3 {
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  &-image-container {
    display: flex;
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    padding: 0.3rem;
    width: 100%;
    justify-content: center;
  }

  &-image {
    border-radius: 10px;
    height: 10rem;
  }

  &-list {
    margin-top: auto;
    align-self: flex-start;
    margin-left: 2rem !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  p {
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
